@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hello my brother</h2>

    <p>Learn about <a href="https://web.seducoahuila.gob.mx/biblioweb/upload/Ray%20Bradbury%20-%20Cronicas%20Marcianas.pdf" target="_blank">RAY BRADBURY</a>.</p>
</div>
<div>
    <div class= "image-center">
        <img src="~/Image/cronicas-marcianas.jpeg" alt="No te toma la imagen gil" />

    </div>


</div>

